@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.container {
    width: 90%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 0;
}

.nav__left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav__left ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav__tel {
    background: #101010;
    color: #fff;
    padding: 12px 24px;
    border-radius: 6px;
}

.showcase {
    display: flex;
    gap: 5%;
    margin-top: 92px;
}

.showcase>div {
    flex: 1;
}

.showcase h1 {
    font-size: 56px;
    color: #101010;
}

header p {
    color: #636f87;
    font-size: 18px;
    line-height: 27px;
    padding: 20px 0 50px;
}

.showcase button {
    padding: 20px 40px;
    background: #1aab7b;
    border: 1px solid transparent;
    color: #fff;
    font-weight: 700;
    border-radius: 6px;
}

